@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,400;1,600&display=swap');
:root{
    --primary-color: violet;
    --primary-color-darker: rgb(136, 70, 136);
}
*{
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container{
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

h1{
    font-size: 2.5em;
    padding: 0em 2.5em;
}

.calculadora {
    width: 100%;
}

.display {
    font-size: 2em;
    width: 100%;
    text-align: right;
}

.btn {
    width: 100%;
    height: 40px;
    font-size: 1em;
    border: none;
    background: #dfdfdf;
    cursor: pointer;
}

.btn:hover {
    background: #747373;
}

.btn-clear{
    background: rgb(250, 88, 88) ;
}
.btn-clear:hover {
    background: rgb(247, 36, 36);
}

.btn-eq{
    background: rgb(85, 250, 250);
}

.btn-eq:hover{
    background: rgb(2, 224, 224);
}